<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>472904328011-n68d7tlus8cf7g4nsg492sc5rutn1g44.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.472904328011-n68d7tlus8cf7g4nsg492sc5rutn1g44</string>
	<key>API_KEY</key>
	<string>AIzaSyAJdBYNzradKKHL53kibvz-qCewpoUYUOM</string>
	<key>GCM_SENDER_ID</key>
	<string>472904328011</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.rovespier.mobile</string>
	<key>PROJECT_ID</key>
	<string>lustrous-stack-709</string>
	<key>STORAGE_BUCKET</key>
	<string>lustrous-stack-709.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:472904328011:ios:e7a68ab0a1540b3450bece</string>
	<key>DATABASE_URL</key>
	<string>https://lustrous-stack-709.firebaseio.com</string>
</dict>
</plist>